.envrc
venv/
*.pyc
__pycache__/
.coverage
.pytest_cache/
.mypy_cache/
*.egg-info/
dist/
build/
htmlcov/
.vscode/
.notes
*~
.python-version
# Ignore files cached by Hypothesis...
.hypothesis/*
# except for the examples directory
!.hypothesis/examples/
coverage.xml
coverage/